.metadata
local.properties
.settings/
.project
.classpath
/db/
/target/
.settings/
.project
.classpath

.project
.settings
/*/.settings
/*/.classpath
/*/.project
/*/target/
/webapp/.tern-project
